			{% if page.comments %}
				<h3 id="comments" class="t60">{{ site.data.language.comments_headline }}</h3>
			<p>Comments must follow to our <a href="https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html">Code of Conduct</a>.</p>
                                <script src="https://utteranc.es/client.js"
                                        repo="{{ site.utterances_gh_repo }}"
                                        issue-term="url"
                                        theme="github-light"
                                        label="📈 datacarpentry.org"
                                        crossorigin="anonymous"
                                        async>
                                </script>
                                <noscript>JavaScript needs to be enabled to see the comments associated with this page. You can browse existing comments in <a href="https://github.com/{{ site.utterances_gh_repo }}/issues">this GitHub Repository</a></noscript>
			{% endif %}
