<p id="becker_erin" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/becker_erin.jpg' alt='Erin Becker' />">
<span class="person"><i>Erin Becker</i></span>
studied microbial genomics at UC Davis where she also did a postdoc in Biology Education Research.
She has experience developing and implementing practice-based instructional training programs as well as
building community for supporting instructional innovation. Erin tweets at
<a href="https://twitter.com/erinsbecker">@ErinSBecker</a>. 
  Email: <a href="mailto:ebecker@datacarpentry.org">ebecker@datacarpentry.org</a>
</p>
