<p id="jordan_kari" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/jordan_kari.jpg' alt='Kari Jordan' />">
<span class="person"><i>Kari Jordan</i></span>
holds BS and MS degrees in Mechanical Engineering from Michigan Technological University, and completed a PhD in
Engineering Education at Ohio State University. Her research experience includes strategies for improving
self-efficacy and sense of belonging in first-year engineering students and the implementation of evidence-based
instructional practices among faculty in introductory STEM courses. In her free time, she teaches Zumba Fitness
and volunteers with the National Society of Black Engineers (NSBE). Kari tweets at
<a href="https://twitter.com/DrKariLJordan?lang=en">@DrKariLJordan</a>.

