<p id="lapp_hilmar" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/lapp_hilmar.jpg' alt='Hilmar Lapp' />">
<span class="person"><i>Hilmar Lapp</i></span>
is the Director of Informatics at the Duke Center for Genomic and Computational Biology.
His research interests are in reusable and interoperable software and data, large-scale data
integration, and building open, sustainable eScience infrastructure. Hilmar serves in senior roles
in the NSF-funded <a href="http://phenoscape.org/">Phenoscape</a> project and
<a href-"http://datadryad.org/">DataDryad</a>. He tweets at <a href="https://twitter.com/hlapp">@hlapp</a>.
</p>
