<p id="lapp_hilmar" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/lapp_hilmar.jpg' alt='Hilmar Lapp' />">
<span class="person"><i>Hilmar Lapp</i></span>
is the Director of Informatics at the Duke Center for Genomic and Computational Biology.
His research interests are in reusable and interoperable software and data, large-scale data
integration, and building open, sustainable eScience infrastructure. Hilmar is co-PI of the
<a href="http://phenoscape.org/">Phenoscape</a> and PI of the <a href="http://phyloref.org">Phyloreferencing</a> project,
both of which are NSF funded. He also serves on the Board of Directors of the
<a href="http://open-bio.org">Open Bioinformatics Foundation</a>, currently as its President.
He tweets at <a href="https://twitter.com/hlapp">@hlapp</a>.
</p>
