<p id="pawlik_aleksandra" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/pawlik_aleksandra.jpg' alt='Aleksandra Pawlik' />">
<span class="person"><i>Aleksandra Pawlik</i></span>
is training lead at the <a href="https://www.software.ac.uk/">Software Sustainability Institute</a> which
supports the UK's research software community.
She has also served on the Software Carpentry Steering Committee. Aleksandra tweets at
<a href="https://twitter.com/aleksandrana">@aleksandrana</a>.
</p>