<p id="ram_karthik" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/ram_karthik.jpg' alt='Karthik Ram' />">
<span class="person"><i>Karthik Ram</i></span>
is the co-founder of <a href="https://ropensci.org/">rOpenSci</a>
and a data science fellow at the Berkeley Institute for Data Science
(<a href="https://bids.berkeley.edu/">BIDS</a>) at UC Berkeley.
He is also a research scientist at the Berkeley Initiative for Global Change Biology.
Karthik is an
active member in the open science and reproducible research community.
He tweets at <a href="https://twitter.com/_inundata">@_inundata</a>
and blogs at <a href="http://inundata.org/">Inudata</a>.
</p>
