<p id="sane_maneesha" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/sane_maneesha.jpg' alt='Maneesha Sane' />">
<span class="person"><i>Maneesha Sane</i></span>
has a background in education and nonprofit management. She has
taught and managed school- and community-based educational
programs for all ages in domains including cultural studies,
literacy, and art.</p>

<p>
Maneesha is a self-taught programmer, skilled
in Python, SQL, and VBA, among other technologies.  She is the
organizer of the Philadelphia Python Users Group and has taught
several Python boot camps in Philadelphia. She is also the Program
Coordinator for Software Carpentry.
Maneesha tweets at <a href="https://twitter.com/maneeshasane">@maneeshasane</a>.
</p>