<p id="teal_tracy" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/teal_tracy.jpg' alt='Tracy Teal' />">
<span class="person"><i>Tracy Teal</i></span>
is a co-founder and the Executive Director of Data Carpentry. As an Assistant Professor at Michigan State
University in bioinformatics, she saw that effective data skills have become foundational for research and that data training needs to scale along with data production. She is involved in the open source software
and reproducible research communities, including as an
Editor at the <a href="http://joss.theoj.org/">Journal for Open Source Software</a>. Tracy tweets at
<a href="https://twitter.com/tracykteal">@tracykteal</a>. Email: <a href="mailto:tkteal@datacarpentry.org">tkteal@datacarpentry.org</a>
</p>
