<p id="teal_tracy" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/teal_tracy.jpg' alt='Tracy Teal' />">
<span class="person"><i>Tracy Teal</i></span>
has a background in bioinformatics and microbial ecology. She is currently an assistant professor in
<a href="https://www3.beacon-center.org/">BEACON</a> at Michigan State University and is affiliated
with the Enterics Research Investigational Network (<a href="https://mmg.natsci.msu.edu/">ERIN</a>) group and
the Institute for Cyber-Enabled Research (<a href="http://icer.msu.edu/">iCER</a>). Tracy teaches short courses
in microbial metagenomics at the <a href="http://www.mbl.edu/">Marine Biological Laboratory</a> and the
<a href="http://www.kbs.msu.edu/">Kellogg Biological Station</a>.
She tweets at <a href="https://twitter.com/tracykteal">@tracykteal</a>.
</p>