<p id="weaver_belinda" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/weaver_belinda.jpg' alt='Belinda Weaver' />">
<span class="person"><i>Belinda Weaver</i></span> was formerly the eResearch Analyst Team Leader for the Queensland Cyber Infrastructure Foundation, where she helped deliver cloud solutions to Australian researchers. She organised <a href="http://librarycarpentry.github.io">Library Carpentry</a> global hackathons in 2016 and 2017, was a key organiser of the 2016 and 2017 Brisbane Research Bazaars, and helped inaugurate the weekly Hacky Hour research IT advice sessions at UQ. She is a certified Software and Data Carpentry instructor and instructor trainer and has taught at many workshops. Belinda tweets at
<a href="https://twitter.com/cloudaus">@cloudaus</a>.
Email: <a href="mailto:bweaver@carpentries.org">bweaver@carpentries.org</a>
</p>
