<p id="white_ethan" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/white_ethan.jpg' alt='Ethan White' />">
<span class="person"><i>Ethan White</i></span>
is an Associate Professor at the University of Florida and a Moore Investigator in Data-Driven Discovery. He
studies ecological systems using data-intensive approaches and is actively involved in open science and
computational training. Ethan is a member of the Software Carpentry Advisory Council,
the editorial board of <a href="https://peerj.com/">PeerJ</a>, and the board of directors of
<a href="https://impactstory.org/">Impactstory</a>.
He tweets at <a href="https://twitter.com/ethanwhite">@ethanwhite</a>.
</p>


