<p id="wilson_g" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/wilson_g.jpg' alt='Greg Wilson' />">
<span class="person"><i>Greg Wilson</i></span>
co-founded the Software Carpentry project in 1998 after receiving
his PhD in Computer Science from the University of Edinburgh. He was previously the Executive Director 
and Director of Instructor Training for the Software Carpentry Foundation and now works at Data Camp.
Greg tweets at <a href="https://twitter.com/gvwilson">@gvwilson</a>.
