<p id="wilson_g" data-toggle="tooltip" title="<img src='{{site.filesurl}}/people/wilson_g.jpg' alt='Greg Wilson' />">
<span class="person"><i>Greg Wilson</i></span>
co-founded the Software Carpentry project in 1998. He has been a
professional software developer, an author, and a university
professor. Greg received his PhD in Computer Science from the
University of Edinburgh in 1993. He is currently the Director of
Training for the Software Carpentry Foundation, leading the instructor
training program for both Software and Data Carpentry. Greg tweets at
<a href="https://twitter.com/gvwilson">@gvwilson</a>.
