---
layout: page-fullwidth
show_meta: false
title: "People"
header:
    image_fullwidth: "wood_plank.jpg"
permalink: "/people/"
redirect_to:
  - https://carpentries.org/team/
---

<p>
Our staff and leadership are committed to furthering Data Carpentry's goals
of developing and providing training to enable data-driven discovery. Our
people plan, learn, adapt and engage
with the community of learners, developers and volunteer instructors to
meet these goals.
</p>

<h3 id="staff">Staff</h3>

<div class="row">
    <div class="medium-4 columns">
        <h5>Executive Director</h5>
        {% include people/teal_tracy.html %}
    </div>
    <div class="medium-2 columns">
        <br/>
        <img src="{{ site.urlimg }}/people/teal_tracy.jpg">
    </div>
    <div class="medium-4 columns">
        <h5>Associate Director</h5>
        {% include people/becker_erin.html %}
    </div>
    <div class="medium-2 columns">
        <br/>
        <img src="{{ site.urlimg }}/people/becker_erin.png">
    </div>
</div>
<div class="row">
    <div class="medium-4 columns">
        <h5>Deputy Director of Assessment</h5>
        {% include people/jordan_kari.html %}
    </div>
    <div class="medium-2 columns">
        <br/>
        <img src="{{ site.urlimg }}/people/jordan_kari.png">
    </div>
    <div class="medium-4 columns">
        <h5>Program Coordinator</h5>
        {% include people/sane_maneesha.html %}
    </div>
    <div class="medium-2 columns">
        </br>
        <img src="{{ site.urlimg }}/people/sane_maneesha.png">
    </div>
</div>
<div class="row">
    <div class="medium-10 columns">
        <h5>Community Development Lead</h5>
        {% include people/weaver_belinda.html %}
    </div>
    <div class="medium-2 columns">
        <br/>
        <img src="{{ site.urlimg }}/people/weaver_belinda.png">
            </div>
</div>


<h3 id="steering">Current Steering Committee Members</h3>
<p></p>
<div class="row">
    <div class="medium-4 columns">
        {% include people/cranston_karen.html %}
    </div>
    <div class="medium-4 columns">
        {% include people/lapp_hilmar.html %}
    </div>
    <div class="medium-4 columns">
        {% include people/pawlik_aleksandra.html %}
    </div>
</div>
<div class="row">
    <div class="medium-4 columns">
        {% include people/ram_karthik.html %}
    </div>
    <div class="medium-4 columns">
        {% include people/white_ethan.html %}
    </div>
    <div class="medium-4 columns">
    </div>
</div>

<h3 id="steering_old">Past Steering Committee Members</h3>
<p></p>
<div class="row">
    <div class="medium-4 columns">
        {% include people/wilson_greg.html %}
    </div>
</div>
