---
layout: page
show_meta: false
title: "Upcoming Workshops"
header:
   image_fullwidth: "wood_plank.jpg"
permalink: "/workshops-upcoming/"
---

These are the upcoming workshops. Most are first advertised to the organization running the workshop, but some are open to other participants.

<hr>
<p align=center>Don't see a workshop in your area, but wish there was one? 
<br>Become a host and <a href=../workshops-host/>request a workshop!<a>


<p>

<!--
<div style="text-align: center; margin-bottom: 15px">
  {% for flag in site.data.amy.flags.workshops %}
    <img src="{{site.filesurl}}/flags/32/{{flag}}.png" title="{{flag | replace: '-',' '}}" alt="{{flag | replace: '-',' '}}" />
    {% unless forloop.last %}
      {% assign loopindex = forloop.index0 | modulo: 16 %}
      {% if loopindex == 15 %}
      <br/>
      {% endif %}
    {% endunless %}
  {% endfor %}
</div>
-->

<hr>

{% include workshop_table.md %}
