---
layout: default
format: blog-index
---

<div class="row t60">
  <div class="medium-20">
    <h2>What is Data Carpentry?</h2>
    <p>
      Data Carpentry develops and teaches workshops on the fundamental data
      skills needed to conduct research. Our mission is to provide researchers
      high-quality, domain-specific training covering the full lifecycle of
      data-driven research.
    </p>

    <p>
      Data Carpentry is now a lesson program within
      <a href="https://carpentries.org">The Carpentries</a>, having merged with
      <a href="http://software-carpentry.org">Software Carpentry</a> in January,
      2018. Data Carpentry's focus is on the introductory computational skills
      needed for data management and analysis in all domains of research.
      Our lessons are domain-specific, and build on the existing knowledge of
      learners to enable them to quickly apply skills learned to their own
      research. <i>Our initial target audience is learners who have
        little to no prior computational experience.</i> We create a friendly
      environment for learning to empower researchers and enable data driven
      discovery.
    </p>
    <p>
      From astronomy to molecular biology, our increasing capacity
      to collect data is changing science. It allows us to ask questions that previously could
      not have been answered, and it changes the impact that science has on society.
      Although petabytes of data are now available, most scientific disciplines are
      failing to translate this sea of data into scientific advances. The missing step between
      data collection and research progress is a lack of training for researchers in crucial
      skills for effectively managing and analyzing large amounts of data.
    </p>
    
    <p>
      Data Carpentry addresses this gap by teaching researchers the fundamental data skills they
      need to conduct their work. Our goal is to provide researchers high-quality, domain-specific
      training covering the full lifecycle of data-driven research. We teach hands-on workshops in
      data organization, management, and analysis to increase data literacy and improve research
      efficiency. Our domain-specific approach allows us to tailor the data, content, and tools
      to reflect the specific data and analysis needs of different areas. Domain specificity also
      allows us to build new skills on knowledge frameworks familiar to learners, and to motivate
      workshops using real scientific questions and data relevant to the learners' field of study.
      This approach allows learners to see immediate value in the skills they are learning and to
      put new techniques immediately into practice.
    </p>
    
    <p>A workshop can't teach a researcher everything they need to know about data management and analysis, however it drastically reduces the barrier to entry and imparts the skills for continued learning and engagement. Our ultimate goal is to enable data-driven research in diverse disciplines by creating strong communities of data scientists and empowering them to conduct more innovative and effective research. </p>


  </div>

</div><!-- /.row -->

