---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
  <div class="medium-20">
    <h2>What is Data Carpentry?</h2>
    <p>
      Data Carpentry develops and teaches workshops on the fundamental data
      skills needed to conduct research. Our mission is to provide researchers
      high-quality, domain-specific training covering the full lifecycle of
      data-driven research.
    </p>

    <p>
      Data Carpentry is now a lesson program within
      <a href="https://carpentries.org">The Carpentries</a>, having merged with
      <a href="http://software-carpentry.org">Software Carpentry</a> in January,
      2018. Data Carpentry's focus is on the introductory computational skills
      needed for data management and analysis in all domains of research.
      Our lessons are domain-specific, and build on the existing knowledge of
      learners to enable them to quickly apply skills learned to their own
      research. <i>Our initial target audience is learners who have
        little to no prior computational experience.</i> We create a friendly
      environment for learning to empower researchers and enable data driven
      discovery.
    </p>
  </div>

    {% if page.widget-1.title %}
    <div class="medium-4 columns">
        <h2 class="font-size-h3 t10">{{ page.widget-1.title }}</h2>
        <a href="{{ page.widget-1.url }}">{% if page.widget-1.image %}<img src="{{ site.urlimg }}/{{ page.widget-1.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-1.video %}{{ page.widget-1.video }}{% endif %}</a>
        <p>{{ page.widget-1.text }}</p>
        <p><a class="button tiny radius" href="{{ page.widget-1.url }}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-2.title %}
    <div class="medium-4 columns">
        <h2 class="font-size-h3 t10">{{ page.widget-2.title }}</h2>
        <a href="{{ page.widget-2.url }}">{% if page.widget-2.image %}<img src="{{ site.urlimg }}/{{ page.widget-2.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-2.video %}{{ page.widget-2.video }}{% endif %}</a>

        <p>{{ page.widget-2.text }}</p>
        <p><a class="button tiny radius" href="{{ page.widget-2.url }}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-3.title %}
    <div class="medium-4 columns">
        <h2 class="font-size-h3 t10">{{ page.widget-3.title }}</h2>
        <a href="{{ page.widget-3.url }}">{% if page.widget-3.image %}<img src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>

        <p>{{ page.widget-3.text }}</p>
        <p><a class="button tiny radius" href="{{ page.widget-3.url }}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->


{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}
<div class="row t60">
  <div class="medium-20">


    <h2>{{ site.data.language.upcoming_workshops }}</h2>

    {% assign workshop_list = site.data.dc_upcoming_workshops %}
    {% include workshop_table.md %}

      <h4>Check out our <a href="/workshops-past/">past workshops.</a></h4>

  </div>
    </div><!-- /.row -->



{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
