---
layout: default
format: page-fullwidth
---
<div class="row t30">
  <div class="small-12 columns">
    <article itemscope itemtype="http://schema.org/Article">
      <header>
        {% if page.image.title %}
        <figure>
          <img src="{{ site.filesurl }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

          {% if page.image.caption_url and page.image.caption %}
          <figcaption class="text-right">
            <a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
          </figcaption>
          {% elsif page.image.caption %}
          <figcaption class="text-right">
            {{ page.image.caption }}
          </figcaption>
          {% endif %}
        </figure>
        {% endif %}

        <span itemprop="name">
          {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
          <h1>{{ page.title }}</h1>
        </span>

      </header>

	<span itemprop="meta">
	  {% if page.show_meta == true %}
	  {% include meta_information.html %}
	  {% endif %}
	</span>

      {% if page.teaser %}
      <p class="teaser" itemprop="description">
        {{ page.teaser }}
      </p>
      {% endif %}

      <span itemprop="articleSection">
      {{ content }}
      </span>

    {% if page.previous %}
        <a class="radius button small" href="{{ page.previous.url }}"
        title="{{ site.data.language.previous.posts }}">&laquo; {{ site.data.language.previous }}</a>
    {% endif %}
    
    {% if page.next %}
        <a class="radius button small" href="{{ page.next.url }}"
            title="{{ site.data.language.next_posts }}">{{ site.data.language.next }} &raquo;</a>
    {% endif %}
      
    {% if page.comments == true %}
      {% include comments.html %}
      {% endif %}
    </article>
  </div>
</div>
